# Cuestionario

In [1]:
# Importar las librerías necesarias según el análisis que se vaya a realizar
# Librería para comando de sistema
import os
# Librería para manejo de datos
import pandas as pd

In [2]:
# cargar los datos en csv
data= pd.read_csv('listings_m.csv', sep=';',encoding='latin-1')

C:\Users\Edwar\AppData\Local\Temp\ipykernel_10344\123426726.py:2: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv('listings_m.csv', sep=';',encoding='latin-1')

In [3]:
# Visualizar la  columna review_scores_rating
data['review_scores_rating']

0         98.0
1         89.0
2        100.0
3         99.0
4         97.0
         ...
17820      NaN
17821      NaN
17822      NaN
17823      NaN
17824      NaN
Name: review_scores_rating, Length: 17825, dtype: float64

In [4]:
#Eliminar los valores NAN de la columna review_scores_rating
data=data[data['review_scores_rating'].notna()]
data['review_scores_rating']

0         98.0
1         89.0
2        100.0
3         99.0
4         97.0
         ...
17745    100.0
17748    100.0
17750    100.0
17763    100.0
17764     70.0
Name: review_scores_rating, Length: 15187, dtype: float64

### Tabla de frecuencias

In [5]:
#Funcion para clasificar en intervalos

def clasificar(numero:float)-> str:
    clasif=""
    if numero>=20 and numero<26:
        clasif = "(20,26)"
    elif numero>=26 and numero<32:
        clasif = "(26,32)"
    elif numero>=32 and numero<38:
        clasif = "(32,38)"
    elif numero>=38 and numero<44:
        clasif = "(38,44)"
    elif numero>=44 and numero<50:
        clasif = "(44,50)"
    elif numero>=50 and numero<56:
        clasif = "(50,56)"
    elif numero>=56 and numero<62:
        clasif = "(56,62)"
    elif numero>=62 and numero<68:
        clasif = "(62,68)"
    elif numero>=68 and numero<74:
        clasif = "(68,74)"
    elif numero>=74 and numero<80:
        clasif = "(74,80)"
    elif numero>=80 and numero<86:
        clasif = "(80,86)"
    elif numero>=86 and numero<92:
        clasif = "(86,92)"
    elif numero>=92 and numero<98:
        clasif = "(92,98)"
    elif numero>=98 and numero<104:
        clasif = "(98,104)"
    return clasif

In [6]:
# Crear la columna clasif en el dataframe data

data['Clasif']= data['review_scores_rating'].apply(clasificar)
data['Clasif']

0        (98,104)
1         (86,92)
2        (98,104)
3        (98,104)
4         (92,98)
           ...
17745    (98,104)
17748    (98,104)
17750    (98,104)
17763    (98,104)
17764     (68,74)
Name: Clasif, Length: 15187, dtype: object

In [7]:
# Frecuencia absoluta

frec_data = data['Clasif'].value_counts().reset_index()
frec_data

       index  Clasif
0   (98,104)    7070
1    (92,98)    5321
2    (86,92)    1735
3    (80,86)     746
4    (56,62)      96
5    (68,74)      78
6    (74,80)      57
7    (62,68)      27
8    (20,26)      24
9    (38,44)      22
10   (50,56)       8
11   (44,50)       2
12   (32,38)       1

In [8]:
#frecuencia relativa

frec_data['%Clasif']=frec_data['Clasif'].apply(lambda x: x/frec_data['Clasif'].sum())
frec_data

       index  Clasif   %Clasif
0   (98,104)    7070  0.465530
1    (92,98)    5321  0.350365
2    (86,92)    1735  0.114242
3    (80,86)     746  0.049121
4    (56,62)      96  0.006321
5    (68,74)      78  0.005136
6    (74,80)      57  0.003753
7    (62,68)      27  0.001778
8    (20,26)      24  0.001580
9    (38,44)      22  0.001449
10   (50,56)       8  0.000527
11   (44,50)       2  0.000132
12   (32,38)       1  0.000066

In [9]:
# frecuencia absoluta y relativa acumulada con cumsum()
# absoluta acumulada

frec_data['acum_Clasif']=frec_data['Clasif'].cumsum()

# relativa acumulada

frec_data['acum_%Clasif']=frec_data['%Clasif'].cumsum()
frec_data

       index  Clasif   %Clasif  acum_Clasif  acum_%Clasif
0   (98,104)    7070  0.465530         7070      0.465530
1    (92,98)    5321  0.350365        12391      0.815895
2    (86,92)    1735  0.114242        14126      0.930138
3    (80,86)     746  0.049121        14872      0.979259
4    (56,62)      96  0.006321        14968      0.985580
5    (68,74)      78  0.005136        15046      0.990716
6    (74,80)      57  0.003753        15103      0.994469
7    (62,68)      27  0.001778        15130      0.996247
8    (20,26)      24  0.001580        15154      0.997827
9    (38,44)      22  0.001449        15176      0.999276
10   (50,56)       8  0.000527        15184      0.999802
11   (44,50)       2  0.000132        15186      0.999934
12   (32,38)       1  0.000066        15187      1.000000

### Percentiles

In [10]:
#Visualizacion

data['price']

0         59
1        200
2        125
3        141
4         75
        ...
17745     95
17748    264
17750     50
17763     38
17764     40
Name: price, Length: 15187, dtype: int64

In [11]:
data=data[data['price'].notna()]
data['price']

0         59
1        200
2        125
3        141
4         75
        ...
17745     95
17748    264
17750     50
17763     38
17764     40
Name: price, Length: 15187, dtype: int64

In [12]:
# Percentil 78
data['price'].quantile(0.78)

190.0

In [13]:
#Media

data['price'].mean()

151.5823401593468

In [14]:
data['Precio_menor_media']= data['price'].apply(lambda x: 1 if x<151.58 else 0)
data['Precio_menor_media']

0        1
1        0
2        1
3        1
4        1
        ..
17745    1
17748    0
17750    1
17763    1
17764    1
Name: Precio_menor_media, Length: 15187, dtype: int64

In [15]:
data['Precio_menor_media'].sum()/15187

0.663330480015803

In [16]:
#Desviacion de price

data['price'].std()

135.5540046337229

In [17]:
#Suma de la media y desviacion estandar

data['price'].mean()+data['price'].std()

287.1363447930697

In [18]:
#Suma de la media y 100 euros
data['price'].mean() + 100

251.5823401593468